@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --color-primare5:linear-gradient(90deg, rgba(246,238,238,1) 6%, rgba(14,14,14,1) 11%, rgba(242,239,234,1) 16%, rgba(242,139,11,1) 22%, rgba(114,114,116,1) 27%, rgba(17,17,16,1) 36%, rgba(31,31,30,1) 41%, rgba(250,109,15,1) 50%, rgba(238,233,229,1) 56%, rgba(61,60,59,1) 63%, rgba(238,234,230,1) 67%, rgba(31,30,29,1) 73%, rgba(213,209,204,1) 77%, rgba(207,122,15,1) 82%, rgba(236,233,230,1) 86%, rgba(40,38,37,1) 93%);
  --color-primare4:linear-gradient(90deg, rgb(15, 15, 14) 22%, rgb(19, 19, 19) 45%, rgb(18, 18, 18) 65%, rgb(109, 109, 108) 83%, rgb(12, 12, 12) 98%);
  --color-primare3:linear-gradient(90deg, rgb(15, 15, 14) 22%, rgb(19, 19, 19) 45%, rgb(18, 18, 18) 65%, rgb(109, 109, 108) 83%, #E76209 98%);
  --color-primare2: linear-gradient(90deg,  rgb(218, 218, 223) 24%,rgb(238, 231, 93) 40%, rgb(243, 246, 247) 100%);
  --color-primare:   linear-gradient(90deg, rgb(241, 229, 62) 24%, rgb(218, 218, 223) 40%, rgb(243, 246, 247) 100%);
  --color-success: #162a5d;
  --color-warning: #c0ba0e;
  --color-danger: #E76209;
  --color-danger-variant: rgb(228, 15, 217);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #e76209;
  --color-bg: #0b5109;
  --color-bg1: #4ca324;
  --color-bg2: #3b7f1c;

  --container-width-lg: 76%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
  --box-shandow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --transition: all 400ms ease;
  --border: 0.2em solid rgba(251, 244, 244, 0.1);
}

body {
  font-family: 'Tektur', cursive;
  line-height: 1.7;
  color: var(--color-white);
  background: var(--color-primare2);
}

 .container {
  width: var(--container-width-lg);
  margin: 0 auto;
} 

section {
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
  color:var(--color-black);
}

h2 {
  font-size: 2rem;
  color: #E6620A;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 1.3rem;
  color: var(--color-white);
}

h5 {
  font-size: 1.4rem;
}

a {
  color: var(--color-black);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  display: inline-block;
  background: var(--color-danger);
  color: var(--color-white);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
  border-radius: 15px;
}

.btn:hover {
  background: transparent;
  color: var(--color-black);
  border-color: var(--color-black);
}

.btn-primary {
  background: var(--color-danger);
  color: var(--color-white);
}

/* ===============Nav dar=================== */

.container1 {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}


.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: var(--color-primare2);
  z-index: 5;
  
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 120px;
  background: #060606;
  border-radius: 50%;
  border: #8F0B11 solid;
}

.menu > li > a {
  text-decoration: none;
  
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: var(--color-danger);
}

.navbar__wrap .menu > li > a:hover {
  color: rgb(27, 26, 26);
}

@media (max-width: 1000px) {
  .navbar__wrap .menu {
    display: none;
  }
  .hamb {
    display: flex;
    align-items: center;
  }
  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color:var(--color-danger);
    transition: 0.2s;
  }
  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--color-primare3);
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }
  .popup.open {
    left: 0;
  }
  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }
  .popup .menu > li {
    width: 100%;
  }
  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #ece6e6;
  }
  .popup .menu > li > a:hover {
    background-color: rgba(245, 240, 240, 0.1);
  }
  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  body.noscroll {
    overflow: hidden;
  }
}






/* Nav end */

/* anime button */
.a1{
 font-weight: 700;
  display: inline-block;
  color: #0f0f0f;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
  letter-spacing: .1px; 
  overflow: hidden;
  margin-right: 5px;
  /* box-sizing: border-box; */
}

.a1:hover{
   background: #060606; 
  color: #f40808;
  box-shadow: 0 0 4px #ece7e7,
              0 0 8px #ece7e7,
              0 0 16px #ece7e7,
              0 0 32px #ece7e7;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0a0a0a);
}
.a1:nth-child(1){
  filter: hue-rotate(270deg);
}
.a1:nth-child(2){
  filter: hue-rotate(110deg);
}
.a1 span{
  position: absolute;
  display: block;
}
.a1 span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#0a0a0a);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
.a1 span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#0c0c0c);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

.a1 span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#0b0b0b);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}


.a1 span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#0c0c0c);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}

/* anime button end*/

/* =====Header===== */

header {
  background:var(--color-primare2);
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
}
.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
 
}

.header__left p {
  margin: 1rem 0 2.4rem;
  color: var(--color-black);
  font-size: 20px;
}

/* video */



.intro__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.intro__title {
  margin: 0;

  font-size: 45px;
  color: #fff;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.video {
  position: relative;
  z-index: 1;
  padding-bottom: 56.25%;
}

.video__media {
  width: 100%;
  height: auto;

  position: absolute;
  top: 0;
  left: 0;
}
/* video end */




/* button anime p */

.bound {
	
	font-size:15px;
	font-weight: 700;
	text-align:center;
	animation: bound-anim 3s infinite;
}

@keyframes bound-anim {
	0%,100% {top: 0;transform: scale(1);}
	30% {top: -25%;}
	50% {transform: scale(1);}
	90% {top: 0;transform: scale(1.1,0.8);}
}

/* text anime p end */

/* slider */

.heading {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 3.4rem;
  color: var(--color-black);
}

.heading span {
  position: relative;
  z-index: 0;
}

.heading span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--blue);
  clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}

section {
  padding: 2rem 9%;
  background: var(--color-primare);
}

.swiper-pagination-bullet-active {
  background: rgb(235, 14, 14);
}



.featured .featured-slider {
  padding: 1rem;
  padding-bottom: 4rem;
  width: 100%;
  height: 100%;
  background:var( --color-primare2);
}

.featured .featured-slider .box {
  text-align: center;
  padding: 2rem;
  box-shadow: var(--box-shandow);
  border: var(--border);
  border-radius: 0.5rem;
  
}

.featured .featured-slider .box img {
  width: 80%;
  padding: 2rem;
}

.featured .featured-slider .box:hover img {
  transform: scale(0.9);
}

.featured .featured-slider .box h3 {
 
  font-size: 1.6rem;
  color: var(--color-black);
}

.featured .featured-slider .box .stars {
  padding: 1rem 0;
}

.featured .featured-slider .box .stars i {
  font-size: 1.3rem;
  color: var(--color-warning);
}

.featured .featured-slider .box .price {
  font-size: 1.2rem;
  color: black;
}


/* slider end*/






/* categori */
.categories {
  background:var(--color-primare2);
  height: 35rem;
}

.categories h1 {
  line-height: 1;
  margin-bottom: 3rem;
}

.categories__container {
  display: grid;
  grid-template-columns: 40% 60%;
  /* gap: 4rem; */
}

.categories__left {
  margin-right: 4rem;
}

.categories__left p {
  margin: -2rem 0 3rem;
  color: var(--color-black);
  font-size: 19px;
}

.categories__rigth {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.category {
  background: black;
  padding: 2rem;
  border-radius: 2rem;
  transition: var(--transition);
}

.category:hover {
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.category:nth-child(2) .category__icon {
  background: var(--color-white);
}

.category:nth-child(3) .category__icon {
  background: var(--color-white);
}

.category:nth-child(4) .category__icon {
  background: var(--color-white);
}

.category:nth-child(5) .category__icon {
  background: var(--color-white);
}

.category__icon {
  background: var(--color-white);
  padding: 0.7rem;
  border-radius: 0.9rem;
  font-size: 25px;
}

.category h5 {
  margin: 2rem 0 1rem;
}

.category p {
  font-size: 0.95rem;
  color: #f5f4f3;
}


/* Ð¼entors */

.team{
  background: var(--color-primare2);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
  margin-top: -180px;
  padding: 0;
}

.team__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top:8rem ;
 
}

.team__member {
  margin-top:3rem ;
  /* background: ;  */
  padding: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  position: relative;
  overflow: hidden;
  height: 300px;

}

.team__member:hover {
  background: transparent;
  border-color: #e5f0ad2c;
}

.team__member-image img {
  filter: saturate(0);
 
}

.team__member:hover img {
  filter: saturate(2);
}

.team__memder-info * {
  text-align: center;
  margin-top: 1.4rem;
}

.team__memder-info p {
  color: var(--color-black);
}

.team__member-social {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -100%;
  display: flex;
  flex-direction: column;
  background:#E76209;
  border-radius: 1rem 0 0 1rem;
  box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
  transition: var(--transition);
}
.team__member:hover .team__member-social {
  right: 0;
}

.team__member-social a {
  padding: 1rem;
}
/* media */

@media screen and (max-width: 1024px) {
  .about__achievements {
    margin-top: 2rem;
  }

  .about__achievements-container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .about__achievements-left {
    width: 80%;
    margin: 0 auto;
  }

  .team__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .team__member {
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
    achievements__cards{
        grid-template-columns:1fr 1fr ;
        gap: 0.7rem;
    }

    .team__container{
        grid-template-columns:1fr 1fr ;
        gap:0.7rem;
    }

    .team__member{
        padding: 0;
    }

    .team__member p{
        margin-bottom: 1.5rem;
    }
}
/* card */

/* faqs */
.faqs {
  background: var(--color-primare2);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.9);

}

.faqs__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.faq {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  height: fit-content;
  background: var(--color-primare3);
  cursor: pointer;
}
.faq h4 {
  font-size: 1.2rem;
  line-height: 2.2;
  color:#f7f5f3 ;
}

.faq__icon {
  align-self: flex-start;
  font-size: 1.2rem;
}

.faq p {
  margin-top: 0.8rem;
  display: none;
  font-size: 18px;
}

.faq.open p {
  display: block;
}

/* Circular Progress Bar with only css */


/* slider */

.stars1{
  color: #8f0b11;
}

.swiper-pagination-bullet {
  height: 1rem;
  width: 1rem;
  border-radius: 0;
}

.swiper-pagination-bullet-active {
  background: rgb(161, 4, 4);
}


/* slider */




/* footer */

footer {
  background: var(--color-primare4);
  box-shadow: inset 0 0 3rem rgba(241, 241, 236, 0.9);
  padding-top: 5rem;
  font-size: 1rem;
  margin: 0 0 20px 0;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.footer__container > div h4 {
  margin-bottom: 1.2rem;
}

.footer__1 p {
  margin: 0 0 2rem;
  color: #f7f3f0;
}



footer ul li a{
  margin-bottom: 0.7rem;
  color:  var(--color-white);
}

footer ul li a:hover {
  text-decoration: underline 0.2rem #810303;
}

.footer__socials {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  margin-top: 2rem;
  justify-content: space-between;

}

.footer__copyring {
  text-align: center;
  margin-top: rem;
  padding:  0;
  border-top: 1px solid var(--color-black);
  font-size: 1.3rem;
  color: #f1ecec;
  background-color: var(--color-primare);
}

.footer__copyring small {
  color: red;
  font-weight: 700;
}

.footer__copyring small:hover{
  color: #e20bde;
}

.footer__5 {
  display: flex;
  justify-content: space-between;
 
}


/* media*/

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  /* =======nav bar ====== */
  nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--color-white);
    cursor: pointer;
  }

  nav button#close-menu-btn {
    display: none;
  }

  .nav__menu {
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none; 
  }

    .nav__menu li{
    width: 100%;
    height: 5.8rem;
    animation: animateNavItems  400ms linear forwards;
    transform-origin: top right;
    opacity: 0; 
  }

  .nav__menu li:nth-child(2){
    animation-delay:200ms;
  }
  .nav__menu li:nth-child(3){
    animation-delay:400ms;
  }
  .nav__menu li:nth-child(4){
    animation-delay:600ms;
  }

  @keyframes animateNavItems {
    0% {
      transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }
    100% {
      transform: rotateZ(0) rotateX(0) scale(1);
      opacity: 1;
    }
  }

  .nav__menu li a {
    background:silver;
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    
  }

  .nav__menu li a:hover {
    background: var(--color-primare3);
    color: var(--color-white);
  }

  /* header */
  header {
    height: 52vh;
    margin-bottom: 4rem;
  }

  .header__container {
    gap: 0;
    padding-bottom: 3rem;
  }

 

  /* =======Categor====== */

  .categories {
    height: auto;
  }

  .categories__container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

 .categories__left{
  margin-right: 0;
  }

  /* popular */
  .course{
    margin-top: 0;
  }

  .courses__container{
    grid-template-columns: 1fr 1fr ;
  }

  /* faqs */

  .faqs__container{
    grid-template-columns: 1fr;
  }

  .faq{
    padding: 1.5rem;
  }

  /* footer */
.footer__container{
  grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width:600px) {
 .container{
  width: var(--container-width-sm);
 }

 /* nav bar */
  .nav__menu{
    right: 3%;
  }

  /* header */
  header{
    height: 100vh;
  }
  .header__container{
    grid-template-columns:1fr ;
    text-align: center;
    margin-top: 0;
  }

  .header__left p{
      margin-bottom: 1.3rem;
  }

  /* video */
  .video__media{
    width: 700px;
    height: 500px;
  }

  /* categori */
  .categories__rigth{
    grid-template-columns:1fr 1fr ;
    gap: 0.7rem;
  
  }

  .category{
    padding: 1rem;
    border-radius:1rem ;
    width: 190px;
    height: 300px;
  }

  .category__icon{
    margin-top: 4px;
    display: inline-block;
  }

  /* popular */
    .courses__container{
      grid-template-columns:1fr ;
    }
    /* testimonials */
    .testimonial__body{
      padding: 1.2rem;
    }

    /* footer */

    .footer__container{
      grid-template-columns: 1fr;
      text-align: center;
      gap: 2rem;
    }

    .footer__1 p{
    margin: 1rem auto;
    }

    .footer__socials{
      justify-content: center;
    }
}

@media screen and (max-width:445px){
  .container{
    width: 97%;
   }
  .logo .bound{
    width: auto;
   }
	

/*  */
	  .title{
    font-size: 22px;
   }

   .header__left p{
    font-size: 15px;
   }
  .heading{
    font-size: 22px;
   }

   .categories__left h1 {
    font-size: 22px;
   }
  .categories__left p{
    font-size: 15px;
  }
	 .featured .heading{
    font: size 22px; ;
  }
	
/*    */
   /* nav bar */
    .nav__menu{
      right: 1%;
    }
  
    /* header */
    header{
      height: 100vh;
    }
    .header__container{
      grid-template-columns:1fr ;
      text-align: center;
      margin-top: 0;
    }
  
    .header__left p{
        margin-bottom: 1.3rem;
    }

    /* video */
    .video__media{
      width: 700px;
      height: 500px;}
  
    /* categori */
    .categories__rigth{
      grid-template-columns:1fr 1fr ;
      gap: 0.7rem;
    
    }

  

    .category{
      padding: 1rem;
      border-radius:1rem ;
      width: 190px;
      height: 300px;
    }
  
    .category__icon{
      margin-top: 4px;
      display: inline-block;
    }
  
    /* popular */
      .courses__container{
        grid-template-columns:1fr ;
      }
      /* testimonials */
      .testimonial__body{
        padding: 1.2rem;
      }
  






      /* footer */
  
      .footer__container{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
      }
  
      .footer__1 p{
      margin: 1rem auto;
      }
  
      .footer__socials{
        justify-content: center;
      }
    }
